<script lang="ts">
import { defineComponent, ref } from 'vue';
import YandexMap from '../components/YandexMap.vue';
import { mapActions, mapGetters } from 'vuex';
import MyCard from '../components/MyCard.vue';
const weekday = [
  'Sunday',
  'Monday',
  'Tuesday',
  'Wednesday',
  'Thursday',
  'Friday',
  'Saturday',
];
export default defineComponent({
  name: 'IndexPage',
  components: {
    MyCard,
    YandexMap,
  },
  data() {
    return {
      tab: 'Today',
    };
  },
  computed: {
    ...mapGetters('api', ['getfirstday']),
    getday() {
      if (this.getfirstday && this.getfirstday.data) {
        return this.getfirstday.data[0];
      } else {
        return [];
      }
    },
    gettommorowday() {
      if (this.getfirstday && this.getfirstday.data) {
        return this.getfirstday.data[1];
      } else {
        return [];
      }
    },
    getweather() {
      if (this.getfirstday && this.getfirstday.data) {
        return this.getfirstday.data.filter((i, index) => index < 5);
      } else {
        return [];
      }
    },
  },
  methods: {
    CheckDay(day: number) {
      const d = new Date();
      if (day + d.getDay() > 6) {
        return day + d.getDay() - 7;
      } else {
        return day + d.getDay();
      }
    },
  },
  setup() {
    function currentDate() {
      const current = new Date();
      const date = current.getHours() + ':' + current.getMinutes();
      return date;
    }
    return { weekday, currentDate };
  },
});
</script>
<template>
  <q-page class="q-pa-xl">
    <q-card class="my-card" flat>
      <q-card-section horizontal>
        <q-card-section class="col col-xs-12 col-sm-6 col-md-6 col-lg-9">
          <q-tabs
            v-model="tab"
            indicator-color="transparent"
            active-color="white"
            align="left"
            class="text-grey-5"
          >
            <q-tab name="Today" label="Today" />
            <q-tab name="Tomorrow" label="Tomorrow" />
            <q-tab name="Next 5 days" label="Next 5 days" />
          </q-tabs>
        </q-card-section>

        <q-card-section class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
        </q-card-section>
      </q-card-section>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="Today">
          <MyCard
            :weekday="weekday[CheckDay(0)]"
            :app_max_temp="getday.app_max_temp"
            :temp="getday.temp"
            :currentDate="currentDate()"
            :pop="getday.pop"
            :pres="getday.pres"
            :wind_spd="getday.wind_spd"
          />
        </q-tab-panel>

        <q-tab-panel name="Tomorrow"
          ><MyCard
            :weekday="weekday[CheckDay(1)]"
            :app_max_temp="gettommorowday.app_max_temp"
            :temp="gettommorowday.temp"
            :currentDate="currentDate()"
            :pop="gettommorowday.pop"
            :pres="gettommorowday.pres"
            :wind_spd="gettommorowday.wind_spd"
          />
        </q-tab-panel>

        <q-tab-panel name="Next 5 days" class="row">
          <MyCard
            v-for="(i, index) in getweather"
            :key="i"
            :weekday="weekday[CheckDay(index)]"
            :app_max_temp="i.app_max_temp"
            :temp="i.temp"
            :currentDate="currentDate()"
            :pop="i.pop"
            :pres="i.pres"
            :wind_spd="i.wind_spd"
        /></q-tab-panel>
      </q-tab-panels>
    </q-card>

    <YandexMap />
  </q-page>
</template>
