<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'MyCard',
  components: {},
  data() {
    return {};
  },
  props: {
    weekday: {
      type: String,
      default: '',
    },
    app_max_temp: {
      type: String,
      default: '',
    },
    temp: {
      type: String,
      default: '',
    },
    currentDate: {
      type: String,
      default: '',
    },
    pop: {
      type: String,
      default: '',
    },
    pres: {
      type: String,
      default: '',
    },
    wind_spd: {
      type: String,
      default: '',
    },
  },
  computed: {},
  methods: {},
  setup() {
    return {};
  },
});
</script>
<template>
  <q-card class="weather-card q-ma-md" flat>
    <q-item>
      <q-item-section
        class="row justify-between flex-center"
        style="flex-direction: row"
      >
        <q-item-label class="text-h5">{{ weekday }}</q-item-label>
        <q-item-label class="text-h5">
          {{ currentDate + 'PM' }}
        </q-item-label>
      </q-item-section>
    </q-item>

    <q-separator />

    <q-card-section horizontal class="justify-between flex-center">
      <q-card-section class="q-pt-xs">
        <div class="text-h3 q-mt-sm q-mb-xs">
          {{ temp + '°' }}
        </div>
      </q-card-section>

      <q-card-section class="col-5 flex flex-center">
        <q-img class="rounded-borders" src="../assets/7.png" />
      </q-card-section>
    </q-card-section>
    <q-card-actions vertical>
      <div class="information">Real Feel: {{ app_max_temp + '°' }}</div>
      <div class="information">Wind: {{ wind_spd + 'km/h' }}</div>
      <div class="information">Pressure: {{ pres + 'MB' }}</div>
      <div class="information">Pop: {{ pop + '%' }}</div>
    </q-card-actions>
  </q-card>
</template>
<style>
.weather-card {
  width: 369px !important;
  height: 369px !important;
  background: url('../assets/mainCard.png');
}
.information {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 30px;
}
</style>
