<script lang="ts">
import { mapGetters } from 'vuex';
import { computed, watch } from 'vue';
import { defineComponent, ref } from 'vue';
export default defineComponent({
  computed: {
    ...mapGetters('api', ['getcoords']),
  },
  data() {
    return {
      key: 0,
    };
  },
  watch: {
    getcoords() {
      this.key += 1;
    },
  },
  setup() {
    const controls = ['fullscreenControl'];
    const detailedControls = {
      zoomControl: { position: { right: 10, top: 50 } },
    };
    return {
      controls,
      detailedControls,
    };
  },
});
</script>
<template>
  <YandexMap
    :key="key"
    :coordinates="getcoords"
    :detailed-controls="detailedControls"
    :controls="controls"
    map-type="hybrid"
  />
</template>
<style>
.yandex-container {
  height: 1000px;
}
</style>
