// app global css in SCSS form
.bg-black {
  background: #101014 !important;
}
.bg-grey {
  background: #1e1e1e !important;
}
.q-field--outlined .q-field__control:before {
  border-color: unset !important;
}
.q-field--dark .q-field__control:before {
  border: none !important;
}
.q-toolbar {
  padding: 0 !important;
}
.container {
  padding: 50px 150px;
}
header {
  .q-tab__indicator {
    height: 100%;
    background: linear-gradient(93.16deg, #31daff 0%, #e231ff 97.43%);
    border-radius: 50%;
  }
  .q-tab {
    border-radius: 50%;
  }
  .q-icon {
    z-index: 100000;
  }
  .q-tab--inactive {
    opacity: 1 !important;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap%27%22');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap%22');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap%22');
