<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_223_92)">
      <path
        d="M7.42383 21C7.81149 21.8914 8.45106 22.6502 9.26398 23.1831C10.0769 23.716 11.0278 23.9999 11.9998 23.9999C12.9719 23.9999 13.9228 23.716 14.7357 23.1831C15.5486 22.6502 16.1882 21.8914 16.5758 21H7.42383Z"
        fill="white"
      />
      <path
        d="M22.3923 12.5491L20.6563 6.82605C20.1004 4.8244 18.8917 3.06583 17.2222 1.82955C15.5526 0.593281 13.518 -0.0498305 11.4412 0.00232993C9.36444 0.0544903 7.36462 0.798932 5.75927 2.11746C4.15391 3.43598 3.03504 5.25301 2.5803 7.28005L1.2323 12.8171C1.05313 13.5528 1.04342 14.3196 1.20391 15.0597C1.36439 15.7998 1.69087 16.4937 2.15872 17.0891C2.62656 17.6846 3.22354 18.166 3.90461 18.497C4.58568 18.828 5.33304 19 6.0903 19.0001H17.6073C18.388 19.0001 19.1579 18.8173 19.8553 18.4663C20.5527 18.1153 21.1582 17.6059 21.6233 16.9788C22.0884 16.3517 22.4003 15.6245 22.5338 14.8552C22.6673 14.086 22.6189 13.2962 22.3923 12.5491Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_223_92">
        <rect width="24" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BellIcon',
});
</script>

<style lang="scss" scpoed></style>
