<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'LightIcon',
});
</script>

<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.59336 15C6.59336 10.3749 10.3573 6.61094 14.9824 6.61094C19.6075 6.61094 23.3715 10.3749 23.3715 15C23.3715 19.6251 19.6075 23.3891 14.9824 23.3891C10.3573 23.3891 6.59336 19.6251 6.59336 15Z"
      stroke="white"
      stroke-width="0.8"
    />
    <path
      d="M24.1055 20.2734C23.1914 21.873 21.8379 23.2089 20.2383 24.1406L25.5293 25.5645L24.1055 20.2734Z"
      fill="white"
    />
    <path
      d="M14.9824 0L12.2754 4.82221C13.1367 4.57617 14.0507 4.45312 14.9824 4.45312C15.9141 4.45312 16.8281 4.57617 17.6894 4.82221L14.9824 0Z"
      fill="white"
    />
    <path
      d="M4.43555 4.45312L5.85937 9.72656C6.7735 8.12689 8.09186 6.80854 9.69141 5.87695L4.43555 4.45312Z"
      fill="white"
    />
    <path
      d="M4.80469 12.2754L0 15L4.80469 17.7246C4.55859 16.8633 4.43549 15.9492 4.43549 15C4.43549 14.0507 4.55854 13.1367 4.80469 12.2754Z"
      fill="white"
    />
    <path
      d="M5.85937 20.2734L4.43555 25.5645L9.72656 24.1406C8.12695 23.2089 6.7735 21.873 5.85937 20.2734Z"
      fill="white"
    />
    <path
      d="M14.9824 25.5469C14.0333 25.5469 13.1191 25.4239 12.2402 25.1777L14.9824 30.0001L17.7246 25.1777C16.8457 25.4238 15.9316 25.5469 14.9824 25.5469Z"
      fill="white"
    />
    <path
      d="M20.2651 5.88584C21.8554 6.81133 23.1805 8.1376 24.1038 9.72936L25.5351 4.45569L20.2651 5.88584Z"
      fill="white"
    />
    <path
      d="M29.9653 15.0086L25.1635 12.2904C25.3944 13.1568 25.5293 14.0619 25.5293 15C25.5293 15.9454 25.3926 16.8576 25.1582 17.7301L29.9653 15.0086Z"
      fill="white"
    />
  </svg>
</template>
<style lang="scss" scpoed></style>
