<template>
  <router-view />
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  methods: {
    ...mapActions('api', ['api_weather']),
  },
  mounted() {
    this.api_weather();
  },
});
</script>
