<script lang="ts">
import { defineComponent } from 'vue';
import GridIcon from '../components/icons/grid.vue';
import BellIcon from '../components/icons/bell.vue';
import DarkIcon from '../components/icons/dark.vue';
import LightIcon from '../components/icons/light.vue';
import IndexPage from 'src/pages/IndexPage.vue';
import { Dark } from 'quasar';
import { mapActions, mapGetters } from 'vuex';
export default defineComponent({
  name: 'MainLayout',
  data() {
    return {
      text: '',
    };
  },
  components: {
    GridIcon,
    BellIcon,
    IndexPage,
    DarkIcon,
    LightIcon,
  },

  computed: {
    ...mapGetters('api', ['getcity']),
    tab: {
      get() {
        return Dark.isActive ? 'dark' : 'light';
      },
      set(newValue: string) {
        Dark.set(!Dark.isActive);
      },
    },
  },
  methods: {
    search_weather() {
      this.api_weather(this.text);
    },
    ...mapActions('api', ['api_weather']),
  },
});
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="q-pa-xl bg-black">
      <div class="row q-col-gutter-lg">
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-9">
          <q-toolbar class="toolbar justify-between">
            <div class="row flex-center">
              <q-btn round class="" color="grey" size="xl">
                <q-icon size="1.5rem">
                  <grid-icon />
                </q-icon>
              </q-btn>
              <q-btn round class="" color="grey" size="xl">
                <q-icon size="1.5rem"> <bell-icon /> </q-icon
              ></q-btn>
              <q-toolbar-title class="toolbar__title">
                {{ getcity }}
              </q-toolbar-title>
            </div>

            <q-input
              @keyup.enter="search_weather"
              rounded
              outlined
              standout
              color="secondary"
              dark
              v-model="text"
              class=""
              bg-color="grey"
              placeholder="Search"
              style="width: 516px"
            >
              <template v-slot:prepend>
                <q-icon name="search" />
              </template>
            </q-input>
          </q-toolbar>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <q-toolbar class="h-100 justify-end">
            <q-tabs
              v-model="tab"
              class="tabs bg-grey"
              inline-label
              align="justify"
            >
              <q-tab name="light">
                <q-icon size="1.7rem">
                  <light-icon />
                </q-icon>
              </q-tab>
              <q-tab name="dark"
                ><q-icon size="1.7rem">
                  <dark-icon />
                </q-icon>
              </q-tab>
            </q-tabs>
            <q-btn round>
              <q-avatar size="70px">
                <img src="https://cdn.quasar.dev/img/avatar2.jpg" />
              </q-avatar>
            </q-btn>
          </q-toolbar>
        </div>
      </div>
    </q-header>

    <q-page-container>
      <IndexPage />
    </q-page-container>
  </q-layout>
</template>

<style lang="scss" scoped>
.toolbar {
  button {
    margin-right: 40px;
  }
  &__title {
    font-size: 30px !important;
    line-height: 35px !important;
  }
}
.tabs {
  margin-right: 80px;
  border-radius: 100px;
  height: 70px;
}
.h-100 {
  height: 100% !important;
}
</style>
